{# templates/utils/createTicket.html.twig #}

{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/createTicket.css') }}"/>
{% endblock %}

{% block logoimg %}{{ asset('images/logo.jpg') }}{% endblock %}

{% block body %}
    <h1>Création d'un nouveau ticket</h1>
{% endblock %}