{# templates/app/footer.html.twig #}

{% block footer %}
    <div id="toaster">
        <div class="wrapper">
            <div id="footerHeader">
                <h1>Liens</h1>
                <svg id="expand_icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>

            <div class="fLinks">
                <p class="fLink"><a href="{{ path('under_construction') }}">FAQ</a></p>
                <p class="fLink"><a href="{{ path('under_construction') }}">Contact</a></p>
            </div>
            <div class="white-disc">
                <img src="{{ asset('images/hands.jpg') }}" alt="Moving hands animation">
            </div>
            <div class="social-icons">
                <a href="#" target="_blank" title="Facebook">
                    <i class="sicon fab fa-facebook-f"></i>
                </a><br>
                <a href="#" target="_blank" title="Instagram">
                    <i class="sicon fab fa-instagram"></i>
                </a><br>
                <a href="https://www.linkedin.com/in/guillaume-cadet-387b61100/" target="_blank" title="LinkedIn">
                    <i class="sicon fab fa-linkedin-in"></i>
                </a>
            </div>

        </div>
    </div>
    <script type="module">
        import { toggleFooter } from 'footerScript';
        document.getElementById('toaster').onclick = function() { toggleFooter(); };

        // Scroll direction detection
        let lastScrollY = window.scrollY;
        const toaster = document.getElementById('toaster');

        window.addEventListener('scroll', () => {
            if (window.scrollY > lastScrollY) {
                // Scrolling down
                toaster.classList.add('hide-on-scroll');
            } else {
                // Scrolling up
                toaster.classList.remove('hide-on-scroll');
            }
            lastScrollY = window.scrollY;
        });
    </script>
{% endblock %}


